*{
    margin: 0;
    text-decoration: none;
    border-collapse: collapse;
    list-style: none;
    font-family: sans-serif;
}
html{
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;  
}
body{
    background-color: rgba(68, 61, 61, 0.5);
    opacity: 0%;
    transition: opacity 0.5s ease;
}
.header{
    background-image: url("../images/banniere.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% ;
    height: 100px;
    border-bottom: 2px solid black;
    opacity: 70%;
}
.main{
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 80% ;
    margin: auto;
    background-color: rgba(126 ,50 ,20 ,20%);
}
.nav{
    width: 100%;
    height: 50px;
    background-color: #3b2411;
    display: flex;
    font-size: 20px;
    text-align: center;

}
a{
    color: white;
    padding: 13.5px 0 13.5px 0;
    display: inline-block;
    transition:color 0.7s ease;    
}
a:hover{
    color: grey;    
}
.nav div{
    width: 25%;
    height: inherit;
    border-right: 2px solid rgba(170, 170, 170, 0.6) ;
}
.nav div:nth-child(4){
    border: 0;
}
iframe{
    width: 100%;
    height: 80vh; 
    border: 0;
    overflow: hidden;
   }
.footer{
    width: 100%;
    height: 100px;
    background-color: black;
}
.footer p{
    text-align:center;
    color: white;
    padding-top: 30px;
}
 